#grid-position-container {
    width: 100%;
    flex-direction: row-reverse;
}

#grid-position-label-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #1d1d1d;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#grid-position-label {
    width: 100%;
    height: 100%;
    font-size: 12px;
    -unity-text-align: middle-center;
    -unity-font-style: Bold;
}